<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
ID: <%= block._id%> <br>
Name: <%= block.name %> <br>
Structure: <%= block.structure %> <br>
Functionality: <%= block.functionality %> <br>
Init code: <%= block.init_code %> <br>
</body>
</html>